@import './base.css';

#app {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 80px 16px 0px;
  display: flex;
  flex-direction: column;
  font-weight: normal;
  box-sizing: border-box;
  max-height: 100vh;
  overflow: hidden;
}

body {
  margin: 0;
  display: flex;
  /* place-items: center; */

  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  background-color: #f9f9f9;
}
